<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<link href="../static/css/loginForm.css" th:href="@{/css/loginForm.css}"
	rel="stylesheet" media="screen" />
<link href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/modal.js"></script>
<script type="text/javascript" src="/js/smoothScroll.js"></script>
<title>Welcome</title>
</head>
<body>
	<div class="conteiner">
		<div class="jumbotron text-center">

			<div th:replace="fragments/_header :: _header"></div>


			<div sec:authorize="hasAuthority('admin_role')"
				style="padding-top: 10%">This content is only shown to
				administrators.</div>

			<div sec:authorize="hasAuthority('user_role')"
				style="padding-top: 10%">This content is only shown to users.</div>
			<div sec:authorize="isAuthenticated()" style="padding-top: 10%"></div>
			<div th:if="${param.logout != null}" class="alert alert-success">
				<p>Zostałeś wylogowany.</p>
			</div>
			


			<div th:replace="fragments/footer :: footer"></div>
		</div>

	</div>


</body>
</html>