<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div th:fragment="_header">
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
			<ol class="navbar-nav" style="width: 35%;">
				<li class="nav-item"><a class="nav-link" th:href="@{#O-nas}">Nowości</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{#Uslugi}">O nas</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{#Oferta}">Oferta</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{#Kontakt}">Kontakt</a></li>
			</ol>	
			<ol class="navbar-nav" style="margin:auto;">
				<!-- Authenticed -->
				<li class="nav-item">
					<div sec:authorize="isAuthenticated()">
						<button type="button" class="btn btn-success">Koszyk</button>
					</div>
				</li>
				<li>&nbsp;</li>
				<li class="nav-item">
					<div sec:authorize="isAuthenticated()">
						<button type="button" class="btn btn-success" onclick="$('#logoutForm').submit();">Wyloguj</button>
					</div>
				</li>
				<li>&nbsp;</li>
				<li class="nav-item">
					<div sec:authorize="hasAuthority('admin_role')">
						<button type="button" class="btn btn-success">Panel administratora</button>
					</div>
				</li>
				<!--NOT Authenticed -->
				<li class="nav-item">
					<div sec:authorize="!isAuthenticated()">
						<button type="button" class="btn btn-success" onclick="document.getElementById('id01').style.display='block'" style="width: auto;">Login</button>
					</div>
				</li>
				<li>&nbsp;</li>
				<li class="nav-item">
					<div sec:authorize="!isAuthenticated()">
						<button type="button" class="btn btn-success" onclick="document.getElementById('id02').style.display='block'" style="width: auto;">Rejestracja</button>
					</div>
				</li>
			</ol>
			<form class="form-inline" action="/action_page.php">
				<input class="form-control mr-sm-2" type="text" placeholder="Wpisz czego szukasz"></input>
				<button class="btn btn-success" type="submit">Szukaj</button>
			</form>
			<!-- Logout -->
			<form th:action="@{/logout}" method="post" id="logoutForm">
				<input type="hidden" name="${_csrf.parameterName}"
					value="${_csrf.token}" />
			</form>
			<!-- Regestration -->
			<div id="id02" class="modal">
				<form class="modal-content animate" th:action="@{/new}"
					th:object="${userForm}" style="margin: auto; width:50%; background: #DAFFAF;" method="post">
					<fieldset>
					<div class="imgcontainer">
						<span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
					</div>
    					<div id="legend">
      						<legend style="font-weight: bold;">Rejestracja</legend>
    					</div>
   					<div class="control-group">
      				<!-- Username -->
     					 <label class="control-label"  for="userName">Nazwa użytkownika</label>
     					 <div class="controls">
        				 	<input type="text" id="userName" name="userName" placeholder="Wprowadź nazwe" class="input-xlarge" required>
        				 	<p class="help-block"></p>
     				 	 </div>
   					</div>
    				<div class="control-group">
      				<!-- E-mail -->
      					<label class="control-label" for="email">E-mail</label>
      					<div class="controls">
        					<input type="text" id="email" name="email" placeholder="Wprowadź email" class="input-xlarge" required>
        				    <p class="help-block"></p>
     					 </div>
    				</div>
    				<div class="control-group">
      				<!-- Password-->
      					<label class="control-label" for="password">Hasło</label>
      					<div class="controls">
        					<input type="password" id="password" name="password" placeholder="Wprowadź hasło" class="input-xlarge" required>
        					<p class="help-block"></p> 
      					</div>
    				</div>
    				<div class="control-group">
      				<!-- Password -->
      					<label class="control-label"  for="confirmPassword">Hasło (Potwierdzenie)</label>
      					<div class="controls">
        					<input type="password" id="confirmPassword" name="confirmPassword" placeholder="Wprowadź ponownie hasło" class="input-xlarge" required>
        					<p class="help-block"></p>
      					</div>
    				</div>
    				<div class="control-group">
      				<!-- Button -->
      					<div class="controls">
        					<button class="btn btn-success">Zarejestruj</button>
      					</div>
    				</div>
					<div class="control-group">
						<p style="text-align: right; font-weight: bold;">Masz już konto?</p>
						<button style="float: right; font-weight: bold; cursor: pointer;" title="Close Modal" onclick="document.getElementById('id01').style.display='block' document.getElementById('id02').style.display='none'">Zaloguj się</button>
					</div>
					 </fieldset>
				</form>	
			</div>
			<!--Login Form -->
			<div id="id01" class="modal">
				<form class="modal-content animate" th:action="@{/}" th:object="${loginForm}" style="margin: auto; width:50%; background: #DAFFAF;" method="post">
					<div class="imgcontainer">
						<span onclick="document.getElementById('id01').style.display='none'" style="width: auto;" class="close" title="Close Modal">&times;</span>
					</div>
					<div id="legend">
      						<legend style="font-weight: bold;">Logowanie</legend>
    					</div>
					<div class="control-group">
      				<!-- Username -->
     					 <label class="control-label"  for="userName">Nazwa użytkownika</label>
     					 <div class="controls">
        				 	<input type="text" id="userame" name="userName" placeholder="Wprowadź nazwe" class="input-xlarge" required>
        				 	<p class="help-block"></p>
     				 	 </div>
   					</div>
    				<div class="control-group">
      				<!-- Password -->
      					<label class="control-label" for="password">Hasło</label>
      					<div class="controls">
        					<input type="password" id="loginPassword" name="password" placeholder="Wprowadź hasło" class="input-xlarge" required>
        				    <p class="help-block"></p>
     					 </div>
    				</div>
    				<div class="control-group">
      				<!-- Button -->
      					<div class="controls">
        					<button class="btn btn-success">Zaloguj</button>
      					</div>
    				</div>
					<div class="control-group" >		
						<span class="password"><a href="#">Odzywskiwanie hasła</a></span>
					</div>
				</form>
			</div>
		</nav>
			<div th:if="${param.logout != null}" class="alert alert-success">
				<p>Zostałeś wylogowany.</p>
			</div>
			<div th:if="${message != null}" class="alert alert-danger">
				<p th:text="${message}"></p>
			</div>
			<div th:if="${regSucc != null}" class="alert alert-success">
				<p th:text="${regSucc}"></p>
			</div>
	</div>
</body>
</html>